:root {
  --cinza: #ebebec;
  --preto: #272727;
  --rosa: #F06197;
  --verde: #36b59f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cinza);
}

body, input, textarea, button {
  font-size: 1rem;
  font-family: sans-serif;
}